
.sign-up-page {
  text-align: center;
  padding: 60px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #007BFF;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  background-color: #fff; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 18px;
  color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #007BFF;
  background-color: transparent;
  transition: border-bottom 0.3s;
  outline: none;
  color: #ffffff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #28a745; 
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.signup-button {
  background-color: #007BFF; 
  color: #fff; 
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #0056b3; 
}

p {
  margin-top: 10px;
  font-size: 16px;
}

a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
